<h2 mat-dialog-title>Dodaj nowy zestaw</h2>
<mat-divider></mat-divider>
<br>
<form [formGroup]="createMenuPostionForm" (ngSubmit)="onNewMenuPostionSubmit()">
    <mat-dialog-content>
        <div class="container">
            <div class="row-sm">
                <mat-form-field hintLabel="Nazwa nie może przekroczyć" appearance="fill">
                    <mat-label>Wprowaź nazwę zestawu</mat-label>
                    <input 
                    matInput 
                    formControlName="name" 
                    #input maxlength="255"
                    required>
                    <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
                    <div class="errors">
                        <mat-error *ngIf="error != 'NoErrors'">{{error}}</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field hintLabel="Kod zestawu nie może przekroczyć" appearance="fill">
                    <mat-label>Wprowadź kod zestawu</mat-label>
                    <input
                    formControlName="menuPostionCode" 
                    matInput 
                    #input maxlength="4" 
                    required>
                    <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
                    <div class="errors">
                        <mat-error *ngIf="error != 'NoErrors'">{{error}}</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field hintLabel="Kod PLUnie może przekroczyć" appearance="fill">
                    <mat-label>Wprowaź kod PLU zestawu</mat-label>
                    <input 
                    matInput 
                    formControlName="plu" 
                    #input maxlength="4"
                    required>
                    <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
                    <div class="errors">
                        <mat-error *ngIf="error != 'NoErrors'">{{error}}</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field hintLabel="Cena zestawu musi być formatu XX.XX" appearance="fill">
                    <mat-label>Wprowadź cene zestawu</mat-label>
                    <input
                    type="number"
                    step="0.5"
                    formControlName="unitPrice" 
                    matInput 
                    #input maxlength="4" 
                    required>
                    <div class="errors">
                        <mat-error *ngIf="error != 'NoErrors'">{{error}}</mat-error>
                    </div>
                </mat-form-field>
            </div>
            <div class="row-lg">
                <app-products-postions></app-products-postions>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Anuluj</button>
      <button type="submit" mat-raised-button color="accent" [disabled]="createMenuPostionForm?.invalid" [mat-dialog-close]="true" cdkFocusInitial>Zapisz</button>
    </mat-dialog-actions>
</form>
    