
.container{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    width: 100%;
  }
.login-card{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  margin: 20px 0;
}
.errors{
  margin-bottom:10px; 
}
mat-form-field{
  width: 300px;
}
mat-card-header{
  width: 100%;
  margin: 0 !important;
  background-color: #76A9FF;
  color: whitesmoke;
}
mat-card-title{
  margin: 0 !important;
  padding: 12px 0;
}
mat-card-content{
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}
mat-card-actions{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}
mat-card{
  padding: 0;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(6px);
}

  